<div class="container" style="transform:translateY(-120px);padding-left:50px">
    <h3>关于气象</h3>
    <p class="lead">能源、农业、交通、旅游等行业经营均关注和研究气象与该行业的相关关系，发现规律形成指数，预测及监控风险，同时适时购买气象指数保险来合理规避风险</p>
    <h3>关于大罗</h3>
    <p class="lead">大罗团队专业服务金融气象领域，为保险行业、期货行业客户提供风险结构分析、气象指数设计、风险预测、风险监控、风险管理方案设计等服务</p>
</div>
<div class="container-fluid navbar-fixed-bottom">
    <div class="row" style="background-color:#616B74; padding-left: 150px; color: white;padding-top:20px;">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-4">
                    <h4>快速通道</h4>
                    <p>方案选择</p>
                    <p>行业倾向</p>
                    <p>数据配套</p>
                    <p>产品获取</p>
                </div>
                <div class="col-md-4">
                    <h4>业务专区</h4>
                    <p>痛点分析</p>
                    <p>气象拟合</p>
                    <p>数据计算</p>
                    <p>报告生成</p>
                </div>
                <div class="col-md-4">
                    <h4>关于我们</h4>
                    <p>关于气象</p>
                    <p>关于大罗</p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <p>
                <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-icon"></use>
                            </svg> 客户服务热线 40085-96833
            </p>
            <p>
                <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-QQ"></use></svg> 在线客服
            </p>
            <p style="text-align: baseline">大罗科技官方微信
                <img src="../assets/images/{{name}}/qr.png" alt="qr" width="60" height="60">
            </p>
        </div>
    </div>
    <div class="row" style="background-color:#0A9AE7;padding-left: 150px; color: white;padding-top:20px;">
        <div class="col-md-12">
            <p>本公司为金融科技公司，不属于，也不从事互联网金融业务，本网站仅用于公司科技能力和合作途径展示，业务均在线下开展和交付
            </p>
            <p>深圳地址：广东省深圳市南山区前海深港合作区前海企业公馆25栋
            </p>
            <p>Copyright 2017 深圳市大罗大数据科技有限公司版权所有 [粤ICP备17075342号-1 广东省通信管理局]</p>
        </div>
    </div>
</div>