<div class="img-container">
    <img src="../../assets/images/product1.png" style="transform:translateY(110px)" alt="1">
    <img src="../../assets/images/product2.png" style="transform:translateY(-130px)" alt="2">
    <img src="../../assets/images/product3.png" style="transform:translateY(120px)" alt="3">
    <img src="../../assets/images/product4.png" style="transform:translateY(-100px)" alt="4">
    <img src="../../assets/images/product5.png" style="transform:translateY(140px)" alt="5">
</div>