/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

/* Icon Font Symbol class from 
 * http://iconfont.cn/help/detail?spm=a313x.7781069.1998910419.d8cf4382a.6a67b64foYIpEX&helptype=code
 */

* {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.4em;
    fill: currentColor;
    overflow: hidden;
    margin-right: 10px;
}

.main {
    background-color: #E7F0FE;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 60px;
    white-space: nowrap;
    background-color: #ffffff;
    border-right: 1px solid #eee;
}

.sidebar:hover {
    width: 16.7777% !important;
    overflow: auto;
    min-width: 200px;
}

.sidebar a {
    color: #A6AAA9 !important;
    cursor: pointer;
}


/* Common tools*/

.margin-t-10e {
    margin-top: 10em;
}

.p0 {
    padding: 0;
}