<div class="main">
    <svg class="icon icon-huojian" aria-hidden="true">
        <use xlink:href="#icon-rocket__easyi"></use>
    </svg>
    <svg class="icon icon-xingqiu" aria-hidden="true">
        <use xlink:href="#icon-weixing"></use>
    </svg>
    <svg class="icon icon-weixing" aria-hidden="true">
        <use xlink:href="#icon-weixing1"></use>
    </svg>
    <div class="slogan">
        <h1>大罗</h1>
        <h2>金融领域的气象风险咨询专家</h2>
    </div>
    <div class="buttons">
        <button class="btn home-button">
            <h4>查看产品列表</h4></button>
        <button class="btn home-button">
            <h4>购买咨询报告</h4></button>
    </div>
</div>