<div class="main index-wrap">
    <svg class="icon icon-huojian" aria-hidden="true">
        <use xlink:href="#icon-rocket__easyi"></use>
    </svg>
    <svg class="icon icon-xingqiu" aria-hidden="true">
        <use xlink:href="#icon-weixing"></use>
    </svg>
    <svg class="icon icon-weixing" aria-hidden="true">
        <use xlink:href="#icon-weixing1"></use>
    </svg>
    <div class="slogan">
        <h1>大罗</h1>
        <h2>金融领域的气象风险咨询专家</h2>
    </div>
    <div class="buttons">
        <button class="btn home-button">
            <h4><a href="product">查看产品列表</a></h4></button>
        <button class="btn home-button">
            <h4><a href="connect">购买咨询报告</a></h4></button>
    </div>

    <div class="container index-bottom">
        <div class="row">
            <div class="col-md-4">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <svg class="icon icon-logo6" style="color:white" aria-hidden="true">
                                <use xlink:href="#icon-logo6"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">高性价比</h4>
                        <p>按报告收费，不用再为昂贵的气象数据担心</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <svg class="icon icon-clac" style="color:white" aria-hidden="true">
                                <use xlink:href="#icon-clac"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">高效便捷</h4>
                        <p>模版化服务，咨询的输入输出均按规范执行</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <svg class="icon icon-icon" style="color:white" aria-hidden="true">
                                <use xlink:href="#icon-icon"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">高端品质</h4>
                        <p>资深加专业，保障企业的气象风险不再失控</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>