.icon-huojian {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 200px;
    left: 160px;
}

.icon-weixing {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 200px;
    right: 100px;
    color: #333;
}

.icon-xingqiu {
    width: 250px;
    height: 220px;
    position: absolute;
    top: 10px;
    right: 200px;
}

.slogan {
    text-align: center;
}

.slogan h1 {
    font-size: 4.2em;
    font-weight: 400;
}

.slogan h2 {
    font-size: 3.8em;
    font-weight: 400;
}

.buttons {
    margin-top: 1em;
}

.buttons .home-button {
    background-color: #FFC03F;
    border-color: #FFC03F;
}

.index-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-top: 1em;
    background-color: rgba(10, 10, 10, .5);
    color: #EEE;
}

.index-bottom h4 {
    color: orange;
}

.index-bottom .icon-logo6,
.index-bottom .icon-clac,
.index-bottom .icon-icon {
    font-size: 2em;
    color: white;
}